@font-face {
    font-family: Authentic Sans;
    src: url("/authenticsans90.otf") format("opentype");
}
body{
    background: #F0F0F0;
    margin: 40px;
    padding: 0;
}
h1{
    font-family: 'Authentic Sans', sans-serif;
    font-weight: normal;
    line-height: 130%;
    font-size: 5.5vw;
    margin: 0;
}
a{
    color: #3300FF;
    text-decoration: none;
}
.logo{
    width: 9vw;
    margin: 0 2vw 3vw 0;
}
@media (max-width: 900px) {
    .logo{
        width: 12vw;
        margin: 0 16px 24px 0;
    }
    h1{
        font-size: 7vw;
    }
    body{
        margin: 24px;
    }
}